<%= content_tag( 'p', @kingdom.display_dates ) %>

<div id="reigns">
	<%= content_tag( 'h2', 'Reigns' ) %>
	<div class="overflow-auto">
		<table class="table">
			<%= render :partial => 'reign/reign_table_header' %>
			<tbody>
				<%= render :partial => 'reign/reign', :collection => @kingdom.reigns %>
			</tbody>
		</table>
	</div>
</div>