<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'Regnal year' ) %>
			<%= content_tag( 'td', 'Start date' ) %>
			<%= content_tag( 'td', 'End date' ) %>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'regnal_year', :collection => @regnal_years %>
	</tbody>
</table>