<form action="/regnal-years/calculate" method="GET" id="calculator">
		<p><label for="date">Choose a date to calculate its session citations:</label></p>
		<p>
		<input type="date" name="date" id="date" required></p>
		<p>
	<button type="submit" id="calculate">Calculate</button></p>
</form>
