<form action="/regnal-years/calculate" method="GET" id="calculator">
	
	<fieldset>
		<legend>Choose a date to calculate its regnal year session citation.</legend>
		<p><input type="date" name="date" id="date" required></p>
	</fieldset>
	<button type="submit" id="calculate">Calculate</button>
</form>