<%= render :partial => 'library_design/feeds/feeds' %>

<div class="overflow-auto margin-top-10">
	<table class="table">
		<%= render :partial => 'reign_table_header' %>
		<tbody>
			<%= render :partial => 'reign', :collection => @reigns %>
		</tbody>
	</table>
</div>