<%= render :partial => 'library_design/feeds/feeds' %>

<div class="overflow-auto">
	<table class="table">
		<%= render :partial => 'parliament_period/session_table_head' %>
		<tbody>
			<%= render :partial => 'session/session_without_parliament_period', :collection => @sessions %>
		</tbody>
	</table>
</div>